.snap-container {
    padding: var(--spacing-8);
}

.snap-navbar {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.snap-nav-list {
    display: flex;
    align-items: center;
    gap: var(--spacing-14);
    color: #777;
}

.snap-nav-item {
    transition: all 0.15s ease-in-out;
    position: relative;
}

.snap-nav-item:hover {
    color: #000;
}

.snap-nav-item > img {
    display: inline-block;
    margin-left: var(--spacing-2);
    transition: all 0.15s ease-in-out;
}

.snap-nav-item:hover > img {
    filter: brightness(0);
}

.snap-auth-btn-container {
    margin-left: auto;
}

.snap-btn {
    color: #777;
    padding: var(--spacing-2) var(--spacing-4);
}

.snap-btn:hover {
    color: #000;
    border-color: #000;
    transition: all 0.15s ease-in-out;
}

.snap-btn-outline {
    border: 1px solid #777;
    border-radius: var(--border-rounded-xl);
}

.snap-btn-register {
    margin-left: var(--spacing-12);
}

main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: var(--spacing-24);
    padding: var(--spacing-24) var(--spacing-36);
}

.snap-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.snap-main-content > h1 {
    font-weight: bold;
    font-size: var(--font-7xl);
    line-height: var(--line-height-xs);
}

.snap-main-content > p {
    color: #777;
    line-height: var(--line-height-lg);
}

ul.snap-client-links {
    margin-top: var(--spacing-12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
    width: 100%;
}

.snap-main-img {
    justify-self: center;
}

.snap-main-img > img {
    max-height: 500px;
}